.game-board {
    display: grid;
    gap: 4px;
    width: 97%;
    height: 95%;
    padding: 0;
    position: relative;
    touch-action: none;
    overflow: visible;
}

.board-cell {
    background-color: var(--mainBackground);
    border: 3px solid var(--mainTitle);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ff6f2c;
    font-size: 1.8rem;
    user-select: none;
    transition: background-color 0.2s, transform 0.3s, opacity 0.3s;
}

.board-cell.selected {
    background-color: #ffe2c8;
    border: 3px solid #ff7e4b;
}

.selection-box {
    border: 2px solid #00000071;
    pointer-events: none;
}

.board-cell.fade-out {
    opacity: 0;
    pointer-events: none;
}

.board-cell:empty {
    background-color: transparent;
    border: none;
    box-shadow: none;
}
