.game-board {
    display: grid;
    grid-template-columns: repeat(17, 1fr); /* 가로 17칸 */
    grid-template-rows: repeat(10, 1fr); /* 세로 10줄 */
    gap: 4px;
    width: 97%;
    height: 95%;
    padding: 0;
    position: relative;
    touch-action: none;
    overflow: visible;
}

.board-cell {
    background-color: #fff7ea;
    border: 2px solid #ffd9a0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #df6400;
    font-size: 1.5rem;
    user-select: none;
}

.board-cell.selected {
    background-color: #ffebda;
    border: 3px solid #ff7e4b;
}

.selection-box {
    border: 2px solid #a1a1a19c;
    pointer-events: none;
}
