.main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--mainBackground);
    user-select: none;
}

.title {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: var(--mainTitle);
    font-weight: bold;
}

.start-button {
    padding: 1rem 2rem;
    font-size: 2rem;
    background-color: var(--mainTitle);
    color: var(--mainBackground);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.start-button:hover {
    background-color: var(--mainTitle-h);
}
