.main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff7e6;
}

.title {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #ffa726;
    font-weight: bold;
}

.start-button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: #ffb300;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.start-button:hover {
    background-color: #ffa000;
}
